<?xml version="1.0"?>
<config>
    <modules>
        <Mypos_Virtual>
            <version>1.0.0</version>
        </Mypos_Virtual>
    </modules>
    <global>
        <models>
            <mypos_virtual>
                <class>Mypos_Virtual_Model</class>
            </mypos_virtual>
        </models>
        <helpers>
            <mypos_virtual>
                <class>Mypos_Virtual_Helper</class>
            </mypos_virtual>
        </helpers>
        <blocks>
            <mypos_virtual>
                <class>Mypos_Virtual_Model_Block</class>
            </mypos_virtual>
        </blocks>
    </global>
    <default>
        <payment>
            <mypos_virtual>
                <model>mypos_virtual/standard</model>
                <active>1</active>
                <test>1</test>
                <title>myPOS Checkout</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
                <developer_url>https://www.mypos.eu/vmp/checkout-test</developer_url>
                <production_url>https://www.mypos.eu/vmp/checkout</production_url>
            </mypos_virtual>
        </payment>
    </default>
    <frontend>
        <routers>
            <mypos_virtual>
                <use>standard</use>
                <args>
                    <module>Mypos_Virtual</module>
                    <frontName>mypos_virtual</frontName>
                </args>
            </mypos_virtual>
        </routers>
    </frontend>
</config>
